# Ignore file for git (https://git-scm.com/docs/gitignore)

/*

!.github/
!data/
!script/
!www/
!.editorconfig
!.gitignore
!.gitattributes
!.licensee.json
!.markdownlint.yaml
!.ndmrc
!.npmrc
!.nvmrc
!.shellcheckrc
!.tool-versions
!.yamllint.yaml
!LICENSE
!README.md
!SECURITY.md
!Makefile
!package.json
!package-lock.json
