@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fira+Sans:wght@200&display=swap");

body {
	font-family: "Fira Sans", sans-serif;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1.1rem;
}
h6 {
	font-size: 0.9rem;
}

h1,
h2,
h3 {
	line-height: 1.2em;
}

h4,
h5,
h6 {
	line-height: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Fira Mono", monospace;
	margin: 0.8em 0 0.4em;
}

p {
	line-height: 1.4em;
	margin: 0.5em 0 0.8em;
	text-align: justify;
	text-justify: inter-word;
}

em {
	font-style: italic;
}

code {
	font-family: monospace;
}
