name: Audit
on:
  pull_request:
    paths:
      - .github/workflows/audit.yaml
      - package-lock.json
  push:
    branches:
      - main
  schedule:
    - cron: 0 3 * * *

permissions: read-all

jobs:
  npm:
    name: npm
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install tooling
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - name: Audit all npm dependencies
        run: make audit
