name: Audit
on:
  pull_request:
    paths:
      - .github/workflows/audit.yaml
      - package-lock.json
  push:
    branches:
      - main
  schedule:
    - cron: 0 3 * * *

permissions: read-all

jobs:
  npm:
    name: npm
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install tooling
        uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302 # v4.0.0
      - name: Audit all npm dependencies
        run: make audit
